[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "public"]
	path = public
	url = https://github.com/yogendra-yatnalkar/yogendra-yatnalkar.github.io
